.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
    padding-left: clamp(10vw, 10vw, 50vw);
    padding-right: clamp(10vw, 10vw, 50vw);
}
